@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, cursive;
  width: 100%;
  height: 100vh;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

h3 {
  font-size: 8vh;
  letter-spacing: 2px;
  margin-bottom: 3vh;
}

.grid_Format {
  display: grid;
  grid-template-columns: repeat(6, minmax(2vw, 20vw));
  grid-template-rows: repeat(2, minmax(3vh, 30vh));
  font-size: 1.8vh;
}

.grid_Format > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background-color: #c0bda7;
  padding: 1.5vw 3vh 1.5vw 3vh;
  line-height: 2.3vh;
}

.grid_Format > div:nth-child(3) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background-color: #ffeaa7;
  padding: 1.5vw 3vh 1.5vw 3vh;
  line-height: 2.3vh;
}

.grid_Format > div:nth-child(5) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background-color: #847f96;
  padding: 1.5vw 3vh 1.5vw 3vh;
  line-height: 2.3vh;
}

.grid_Format > div:nth-child(6) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background-color: #dfe6e9;
  padding: 1.5vw 3vh 1.5vw 3vh;
  line-height: 2.3vh;
}

.grid_Format > div:nth-child(7) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background-color: #55efc4;
  padding: 1.5vw 3vh 1.5vw 3vh;
  line-height: 2.3vh;
}

.grid_Format > div:nth-child(8) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background-color: #fd79a8;
  padding: 1.5vw 3vh 1.5vw 3vh;
  line-height: 2.3vh;
}

.grid_Format > div:nth-child(10) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background-color: #a29bfe;
  padding: 1.5vw 3vh 1.5vw 3vh;
  line-height: 2.3vh;
}

.grid_Format > div:nth-child(12) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background-color: #74b9ff;
  padding: 1.5vw 3vh 1.5vw 3vh;
  line-height: 2.3vh;
}

.Text2 {
  font-size: 0.8vh;
  line-height: 1.5vh;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
